cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.5
opencv-python==4.2.0.34
Pillow==7.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
six==1.15.0
torch==1.5.0+cpu
torchvision==0.6.0+cpu
cmake==3.17.2
dlib==19.19.0
scikit-image==0.17.2
scipy==1.4.1
pandas==1.0.4
future==0.18.2
PyWavelets==1.1.1
imageio==2.8.0
decorator==4.4.2
networkx==2.4
tifffile==2020.6.3
pytz==2020.1
